// Body 以下は今回必要ないので削除した
// $body-bg: #f8fafc;

// Typography
/*1行目今回不要な設定が入っているため編集します。
$font-family-sans-serif: 'Nunito', sans-serif;から$font-family-sans-serif: "Raleway", sans-serif;へ*/
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors 以下は今回必要ないので削除した
// $blue: #3490dc;
// $indigo: #6574cd;
// $purple: #9561e2;
// $pink: #f66d9b;
// $red: #e3342f;
// $orange: #f6993f;
// $yellow: #ffed4a;
// $green: #38c172;
// $teal: #4dc0b5;
// $cyan: #6cb2eb;
